body {
  margin: 0;
  padding: 0;
  display: flex;
  flex: column;
  height: 100vh;
  width: 100%;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: left;
  padding-left: 2%;
}

.IdCard {
  display: flex;
  line-height: 0.5rem;
  border: 1px solid black;
  margin: 2%;
  text-align: left;
  width: auto;
}

.IdCard div {
  padding: 2%;
}

.Greetings {
  border: 1px solid black;
  margin: 2%;
  text-align: left;
  width: auto;
  padding: 0 2%;
}

.Random {
  border: 1px solid black;
  margin: 2%;
  text-align: left;
  width: auto;
  padding: 0 2%;
}

.BoxColor {
  border: 1px solid black;
  margin: 2%;
  width: auto;
  padding: 0 2%;
}

.CreditCardApp {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.CreditCard {
  width: 25vw;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
}

.bankLogo {
  width: 20%;
  align-self: flex-end;
  margin: 2%;
}

img {
  max-width: 100%;
}

.CreditCard p {
  margin: 0;
}

.CreditCard h2 {
  font-size: 2rem;;
}

.CreditCardInfo {
  display: flex;
  justify-content: center;
}

.CreditCardInfo p {
  padding: 0 2%;
}

.Rating {
  display: flex;
  align-self: flex-start;
  margin: 0 2%;
}

.DriverCard {
  background-color: #425CBB;
  border-radius: 10px;
  width: auto;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20vh;
  margin: 2%;
  padding: 2% 2% 2% 30%;
  
}

.DriverCard img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.DriverCard div {
  margin: 2%;
  text-align: left;
}